<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>
        <h3>The user entered does not exist. Please <a href="/">click here</a> to try again</h3>
    </hgroup>
</body>
</html>
